.ipynb_checkpoints/*
rust/rustdf/Cargo.lock
Untitled*

rust/botframework/Cargo.lock
rust/botframework/TESTDATA/.ipynb_checkpoints/*
rust/botframework/TEST/.ipynb_checkpoints/*
rust/botframework/TEST/interface_test
rust/botframework/.ipynb_checkpoints/*
rust/botframework/TEST/python/.ipynb_checkpoints/*

rust/sandbox/Cargo.lock
rust/botframework/.RData
rust/botframework/.Rhistory
rust/rbot/test.db
.DS_Store
rust/botframework/TEST/python/*.xz
.gitignore
rust/rbot/src/test/.ipynb_checkpoints/*
